body{
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Cinza claro */
}

.header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.header h1 {
    margin: 0;
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.buttons button {
    padding: 10px 20px;
    background-color: #007bff; /* Azul */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #ccc;
    border-radius: 5px;
    margin-top: 20px;
    overflow: hidden;
}

.progress {
    height: 100%;
    width: 50%; /* Por exemplo, 50% de progresso */
    background-color: #007bff; /* Azul */
    transition: width 0.3s ease-in-out;
}

.log {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    overflow-y: auto;
    max-height: calc(100vh - 20px - 20px - 20px - 20px); /* Calcula a altura máxima com margens */
    border: 1px solid #000000;
}